@import url('https://fonts.googleapis.com/css2? family= Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600; 1.700;1.800;1.900 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Quicksand:wght@300;400;500;600;700 & family= Raleway:ital,wght@0,100;0,300;0,400; 0,500;1,200;1,300;1,400;1,500 & família= Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1, 900 & família = Syne : wght@400;500;700 & display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root{
    --orange: #FF9143;
    --black:#1A1A1A;
    --darkgray: #262A2C;
    --gray: #696969;

    --fontebold: 'Syne', sans-serif;
    --fontetexto: 'Rubik', sans-serif;
}

body{
    background-color: var(--darkgray);
    overflow-x: hidden;
}

ul li{
    list-style: none;
}
.header{
    display: flex;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    align-items: center;

}
.btn-mobile div {
    width: 30px;
    height: 2.5px;
    margin: 4px auto;
    background-color: #fff;
    border-radius: 5px;
}
.btn-mobile {
    border: none;
    background-color: transparent;
    outline: none;
    display: none;
}
.logo{
    margin-left: 130px;
}

.menu{
    display: flex;
    margin-right: 130px;
}
.menu ul{
    display: flex;
    align-items: center;
}

.menu li{
    color: white;
    padding: 0 20px;
    text-transform:uppercase;
}

.btn-contact{
    border: none;
    outline: none;
    padding: 8px 12px; 
    border-radius: 20px;
    text-transform: uppercase;
    background-color: var(--black);
    color: white;
    border: 1px solid var(--gray);
    width: 100px;
}
.prim {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.titulo{
    text-align: center;
}
.titulo h1{
    font-size: 50px;
    width: 600px;
    color: white;
}
.titulo button{
    padding: 17px 35px;
    border-radius: 30px;
    border: none;
    background-color: var(--orange);
    color: white;
    text-transform: uppercase;
    margin-top: 12px;
}
.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.sobre .sobre-titulo{
    margin-left: 130px;
}
.sobre .sobre-titulo p{
    width: 480px;
    color: var(--gray);
    margin: 15px 0;
}
.sobre .sobre-titulo h3{
    color: white;
    font-size: 45px;
    width: 350px;
    margin: ;
}
.sobre .imagem-sobre{
    margin-right: 130px;
}
.sobre button{
    padding: 17px 35px;
    border-radius: 30px;
    border: none;
    background-color: var(--orange);
    color: white;
    text-transform: uppercase;
    margin-top: 12px;
}

